version: '3'
services:
  web:
    build: ./
    volumes:
      - ./:/myapp
    ports:
      - "8080:40000"
    environment:
      - LANG=C.UTF-8
  redis:
    container_name: redis
    image: redis:3.2-alpine
    hostname: redis
  redis-gui:
    # image: emmenko/redis-commander:0.3.2
    image: tenstartups/redis-commander
    container_name: redis-gui
    command:  --redis-host redis
    restart: unless-stopped
    ports:
      - "50000:8081"
    depends_on:
      - redis
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.2.4
    container_name: elasticsearch
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9200:9200
